name: Create staging BuildJet Cache
on: push

jobs:
  test-buildjet-cache:
    name: Creating BuildJet Cache entry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create BuildJet Cache
        uses: buildjet/cache@v3
        with:
          path: |
            ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
      - name: Install Node Dependencies
        run: npm ci

